<!-- Chat Context View Modal -->
<div id="chat-context-modal" class="modal">
    <div class="modal-content chat-context-modal-content">
        <h2>
            <span class="material-icons">subject</span>
            Chat Context View
        </h2>
        
        <div id="context-messages" class="context-messages-container">
            <!-- Context messages will be inserted here -->
        </div>
        
        <div class="modal-footer">
            <button type="button" id="context-close" class="secondary-button">Close</button>
        </div>
    </div>
</div>