<div id="projects-panel">
    <div class="panel-header">
        <span>Projects</span>
        <button class="add-project-btn" id="add-project-btn">
            <span class="material-icons">add</span>
        </button>
    </div>
    <div class="projects-list" id="projects-list">
        <!-- Projects will be loaded dynamically -->
    </div>
</div>