<!-- Global context menus that will be positioned as needed -->
<div id="project-context-menu" class="context-menu">
    <div class="menu-item" data-action="rename"><span class="material-icons">edit</span>Rename</div>
    <div class="menu-item" data-action="add-session"><span class="material-icons">add</span>Add Session</div>
    <div class="menu-item" data-action="archive"><span class="material-icons">archive</span>Archive</div>
    <div class="menu-item delete" data-action="delete"><span class="material-icons">delete</span>Delete</div>
</div>

<div id="session-context-menu" class="context-menu">
    <div class="menu-item" data-action="rename-session"><span class="material-icons">edit</span>Rename</div>
    <div class="menu-item" data-action="clear-session"><span class="material-icons">cleaning_services</span>Clear</div>
    <div class="menu-item delete" data-action="delete-session"><span class="material-icons">delete</span>Delete</div>
</div>